:root {
    --primary: hsl(202, 76%, 72%);
    --secondary: #217794;
    --tertiary: #274857;
    --light-dark: #1c4a7e;
    --dark: #012941;
    --border-radius: .3rem;
}

body {
    color: var(--secondary);
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    background-color:var(--primary);
    margin:auto;
    opacity: 0.9;
}

.btn:hover{
    background-color: var(--light-dark);
}

footer{
    background-color: var(--primary);
    color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* #recent-search-btn, #recent-search-container {
    display: none;
} */

.bottom-trash {
    opacity: 0;
    color: #f1f1f1;
    font-size: 1rem;
    font-family: "Staatliches", sans-serif;
    transform: translateY(150px);
    transition: all .5s ease-in-out; 
    background-color: rgba(234, 0, 39, 0.7);
    
}


.bottom-trash-drag {
    transform: translateY(10px);
    opacity: 1;
  }
  
.bottom-trash-active {
    background-color: rgba(234, 0, 39, 1);
  }
