:root {
    --primary: #81c6ee;
    --secondary: #217794;
    --tertiary: #274857;
    --light-dark: #1c4a7e;
    --dark: #012941;
    --border-radius: .3rem;
}

body {
    color: var(--secondary);
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    background-color:var(--primary);
    margin:auto;
    opacity: 0.9;
}

.btn:hover{
    background-color: var(--light-dark);
}

footer{
    background-color: var(--primary);
    color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#recent-search-btn, #recent-search-container {
    display: none;
}

  
#trash:hover {
    background-color: rgba(234, 0, 39, 1);
  }

